<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  
    <div class="container">
    <div class="apply">

    {% include header.html %}

        {{ content }}
    </div>

    {% include footer.html %}

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <script src="{{ "/js/holder.js" | prepend: site.baseurl }}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>

</html>
